sacremoses
datasets
transformers
pandas
sentence-transformers
faiss-cpu
numpy
chromadb
pinecone-client
tqdm
pyspark
weaviate-client
openai
wikipedia
google-search-results
better-profanity
sqlalchemy
langchain
huggingface-hub
rouge_score
torch
evaluate
nltk
